{% extends 'layouts/app.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h2 class="text-center text-primary mb-4">Set New Password</h2>

                <form method="POST">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- Show Password Checkbox -->
                    <div class="form-group form-check mb-4">
                        <input type="checkbox" class="form-check-input" id="show-password" onclick="togglePassword()">
                        <label class="form-check-label" for="show-password">Show Password</label>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Set New Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePassword() {
        const passwordField1 = document.getElementById('{{ form.new_password1.id_for_label }}');
        const passwordField2 = document.getElementById('{{ form.new_password2.id_for_label }}');
        const showPassword = document.getElementById('show-password');
        const type = showPassword.checked ? 'text' : 'password';
        passwordField1.type = type;
        passwordField2.type = type;
    }
</script>
{% endblock %}