{% extends 'layouts/app.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="text-center text-primary mb-4">Password Reset Complete</h2>
                <p>Your password has been reset. You can now <a href="{% url 'login' %}">login</a> with your new
                    password.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}