{% extends 'layouts/app.html' %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-lg-4 col-md-6">
        <div class="card shadow-lg border-0 rounded-lg">
            <div class="card-body p-5">
                <div class="text-center mb-4">
                    <h2 class="text-primary font-weight-bold">Reset Your Password</h2>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-outline-primary btn-block mt-3">Send Password Reset
                        Email</button>
                </form>
            </div>
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="text-secondary">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}