{% extends 'layouts/app.html' %}
{% block content %}
<div style="
      background-image: url('../../static/img/bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    ">
  <div style="background-color: #e3eefc; padding: 40px 20px; border-radius: 10px">
    <div style="display: flex; flex-direction: column; align-items: center">
      <h2>Snort IntelliGuard</h2>
    </div>
    {% if not otp_required %}
    <div style="display: flex; flex-direction: column; align-items: center">
      <div style="font-size: x-large; font-weight: 400;">Login</h2>
      </div>
      <form method="POST" action="{% url 'login' %}" style="display: flex; flex-direction: column">
        {% csrf_token %}

        <input type="text" name="username" id="id_username" placeholder="Login"
          style="width: 400px; padding: 10px; margin-top: 14px; background-color: transparent;" />
        <input type="password" name="password" placeholder="Password" id="id_password"
          style="width: 400px; padding: 10px; margin-top: 14px; background-color: transparent;" />

        <div style="display: flex; margin-top: 8px;">
          <input type="checkbox" id="show_password" onclick="togglePasswordVisibility()" style="width: 16px;" />
          <label for="show_password" style="margin-left: 10px;">Show Password</label>
        </div>

        <button type="submit" style="
          width: 400px;
          padding: 5px;
          margin-top: 14px;
          border: 1px;
          color: white;
          background-color: #4169e1;
          border-radius: 5px;
        ">
          LOGIN
        </button>
        <a href="http://127.0.0.1:1234/" style="
          width: 400px;
          padding: 5px;
          margin-top: 14px;
          text-align: center;
          border: 1px;
          border-radius: 5px;
          background-color: transparent;
          color: #4169e1;
          text-decoration: none;
        ">
          BACK
        </a>
      </form>
      {% else %}
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div style="display: flex; flex-direction: column; align-items: center">
          <div style="font-size: large; font-weight: 400;">Verification</h2>
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <label for="otp">Enter OTP sent to your email:</label>
            <input type="text" name="otp" id="otp" class="form-control" required
              style="width: 400px; padding: 10px; margin-top: 5px" />
          </div>

          <button type="submit" class="btn btn-dark">Verify OTP</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>

<script>
  function togglePasswordVisibility() {
    const passwordField = document.getElementById("id_password");
    const showPassword = document.getElementById("show_password");
    if (showPassword.checked) {
      passwordField.type = "text";
    } else {
      passwordField.type = "password";
    }
  }
</script>
{% endblock %}