<div class="home-bg">
  <div style="width: 70%; margin: auto; padding-top: 40px">
    <nav class="nav">
      <div style="font-size: 2rem; font-weight: bold">Snort IntelliGuard</div>
      <div>
        <a href="{% url 'manual_rule_generator' %}" class="btn btn-dark"
          >Manual Rule Generator</a
        >
        <a href="{% url 'login' %}" class="btn btn-dark">Login</a>
      </div>
    </nav>
    <div
      style="display: flex; margin-top: 40px; justify-content: space-between"
    >
      <div style="width: 50%; display: block">
        <div
          style="
            font-size: 18px;
            color: #687690;
            font-weight: 500;
            margin-top: 14px;
            margin-bottom: 4;
          "
        >
          Welcome to Snort IntelliGuard
        </div>
        <div style="font-size: 50px; font-weight: 700">
          Create Snort Intrusion Detection Rules
        </div>
        <div style="font-size: 18px; color: #5a6473; margin-top: 1rem">
          Our Snort IntelliGuard successfully integrate OpenVAS vulnerability
          scanning with Generative AI can automate the creation of Snort
          intrusion detection rules to significantly improving network security.
          This automated approach reduces manual effort, accelerates the
          detection process, and improves overall defense mechanisms against
          evolving threats
        </div>
      </div>
      <div style="width: 40%">
        <img src="../static/img/hero_illustration.png" width="100%" />
      </div>
    </div>
  </div>
</div>
